.horizontal-scrollbar-container {
    display: flex;
    width: 1360px;
    height: 400px;
    overflow-x: hidden;
    align-items: center;
}


.horizontal-scrollbar-container img {
    height: 300px;
    border-radius: 100px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
    transition: height 0.5s, opacity 0.5s;
    cursor: pointer;

}

.horizontal-scrollbar-container img:hover {
    height: 350px;
    opacity: 1.0;

}


.scroll-arrows {
    position: relative;
    display: flex;
    column-gap: 25px;
    justify-content: right;
    align-items: center;
    width: 1360px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.scroll-arrows button {
    border: none;
}

.scroll-arrows .left-arrow,
.scroll-arrows .right-arrow {
    font-size: 20px;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: black;
    cursor: pointer;
}

.scroll-arrows .left-arrow:hover,
.scroll-arrows .right-arrow:hover {
    background-color: rgba(0, 0, 0, 0.5);
}